@page
@model OfferModel

@{
    ViewData["Title"] = "Your Offers";
}




    <section class="section-block style1">
        <header>
            <h2>@ViewData["Title"]</h2>

            <h4>These are the offers you&rsquo;ve extended to others</h4>
            <hr />
        </header>
        <div class="inner">


            <div class="row">
                <div class="large-4 medium-4 columns">
                    <section id="">
                        <!--{"id":"9d35e885-daad-4a2e-e287-08d5b03a50f6","title":"Test offer","track":{"id":0,"name":"Testing"},"credits":{"id":0,"unit":4,"recurrence":2},"description":"Test description","isActive":false,"ends":"2018-04-30T00:00:00","member":"ee51ce9b-bb1f-4830-952b-1052c39c8776"}-->
                    </section>
                    <section id="offers-content"></section>
                </div>
                <div class="large-6 medium-6 columns col-md-offset-2">
                    <section>
                        <h3>Existing offers</h3>
                        <hr />
                        <ul>
                            @foreach(var offer in Model.Offers)
                            {
                                <li>@offer.Title</li>
                            }
                        </ul>
                        <p>Has selected an offer? @((TempData["Editing"] as Nucleus.Models.Offer).Title)</p>
                    </section>
                </div>
            </div>

        </div>
    </section>


@section Scripts {
    @await  Html.PartialAsync("_ValidationScriptsPartial")
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>

        <script src="/jsx/offers.jsx"></script>

}
