@page "/people"
@using Nucleus.Models
@inject ApiClient api
@inject HttpClient Http


<div class="inner grid-container">

    <h1>People</h1>

    <p>View .</p>

    <div class="grid-x grid-margin-x">
        <div class="cell large-6">


            @if (posts == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Temp. (C)</th>
                            <th>Temp. (F)</th>
                            <th>Summary</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var post in posts)
                        {
                            <tr id="@post.Id">
                                <td>@post.Title</td>
                                <td>@post.Created.ToShortDateString()</td>
                                <td></td>
                                <td>@post.Owner</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
        <div class="cell large-6">
            <h3>Posts</h3>
        </div>
    </div>
</div>



@functions {
    IEnumerable<Post> posts;
    //IEnumerable<string> tags;

    protected override async Task OnInitAsync()
    {
        posts = await api.GetPostsAsync();

        StateHasChanged();
    }
}
